.navbar-brand img {
    width: 100px;
}

.navbar-nav .nav-item  a {
    font-family: 'Russo One', sans-serif;
    font-size: 20px;
}

.navbar-nav .nav-item {
    padding: 4px;
}
.sm-icons {
    flex-direction: row;
}

.sm-icons li {
    padding: 4px;
}

.front-page {
    padding-bottom: 7%;
}

.front-page h1 {
    padding-top: 3%;
    font-size: 75px;
    font-family: 'Russo One', sans-serif;
}

.front-page h3 span {
    color: #18453b;
    font-weight: bold;
}

.about {
    padding-top: 3%;
    padding-bottom: 4.1%;
    background-color: #f8f9fa;
}

.about-header {
    font-family: 'Russo One', sans-serif;
}

.msu-text {
    color: #18453b;
    font-weight: bold;
}

.ao-text {
    color: #084477;
    font-weight: bold;
}

.front-page .desc-2 {
    padding-bottom: 10px;
}

.blog-header {
    font-family: 'Russo One', sans-serif;
}

.headshot {
    width: 450px;
    padding-top: 13%;
}

.footer-brk {
    margin-left: 50px;
    margin-right: 50px;
}

#cont-me{
    font-family: 'Russo One', sans-serif;
}

.intro-text {
    animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% { opacity: 0;}
    100% {opacity: 1;}
}

p {
    font-size: 16px;
}

@media (max-width: 768px) {
    p {
        font-size: 13px;
    }
}