.navbar-brand img {
    width: 100px;
}
.navbar-nav .nav-item  a {
    font-family: 'Russo One', sans-serif;
    font-size: 20px;
}

.navbar-nav .nav-item {
    padding: 4px;
}
.sm-icons {
    flex-direction: row;
}

.sm-icons li {
    padding: 4px;
}

h1 {
    padding-top: 3%;
    font-size: 75px;
    font-family: 'Russo One', sans-serif;
}
